<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <!--meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- javascript -->
  <script src="/js/translator.js"></script>
  <script src="/js/translations.js"></script>
  <!-- title -->
  <title>manage questions</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-xxl navbar-light bg-light">
    <a class="navbar-brand" href="https://www.speelgoedmuseum.be/"><img src="/img/logo.png" height="50"
        class="d-inline-block align-top" alt="Speelgoedmuseum Mechelen" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav text-right">
        <li id="home" class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>
        <li id="inlog" class="nav-item"><a class="nav-link" href="#"></a></li>
        <li id="info" class="nav-item"><a class="nav-link" href="#"></a></li>
        <li id="changeLanguage" class="nav-item">
          <img src="/img/translate.svg" alt="Translate" />
        </li>
      </ul>
    </div>
  </nav>

  <form id="question-form">
    <input type="text" id="group-parameter" placeholder="group" />
    <input type="text" id="question-text" placeholder="Question text" required />
    <input type="text" id="answer1" placeholder="Answer 1" required />
    <input type="text" id="answer2" placeholder="Answer 2" />
    <input type="text" id="answer3" placeholder="Answer 3" />
    <input type="text" id="answer4" placeholder="Answer 4" />
    <select id="correct-answer" required>
      <option value="">Select correct answer</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select id="language" required>
      <option value="">Select language</option>
      <option value="nl">NL</option>
      <option value="fr">FR</option>
      <option value="en">EN</option>
    </select>
    <button type="submit">Create Question</button>
  </form>

  <div id="feedback"></div>

  <form id="edit-form" style="display: none">
    <input type="text" id="edit-group-parameter" placeholder="group" />
    <input type="text" id="edit-question-text" placeholder="Question text" required />
    <input type="text" id="edit-answer1" placeholder="Answer 1" required />
    <input type="text" id="edit-answer2" placeholder="Answer 2" />
    <input type="text" id="edit-answer3" placeholder="Answer 3" />
    <input type="text" id="edit-answer4" placeholder="Answer 4" />
    <select id="edit-correct-answer" required>
      <option value="">Select correct answer</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select id="edit-language" required>
      <option value="">Select language</option>
      <option value="nl">NL</option>
      <option value="fr">FR</option>
      <option value="en">EN</option>
    </select>
    <button type="submit">Update Question</button>
  </form>

  <select id="sort-select">
    <option value="">Sort by...</option>
    <option value="id">Time Created</option>
    <option value="groupParameter">Group</option>
    <option value="questionText">Question</option>
    <option value="language">Language</option>
    <option value="archived">active</option>
  </select>
  <table id="questions">
    <thead>
      <tr>
        <th>Question</th>
        <th>Correct Answer</th>
        <th>Answer 1</th>
        <th>Answer 2</th>
        <th>Answer 3</th>
        <th>Answer 4</th>
        <th>Group</th>
        <th>Language</th>
        <th>Archived</th>
        <th>Archive</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <!-- Rows will be added here by the script -->
    </tbody>
  </table>
  <script src="/js/manageQuestions.js"></script>

  <!-- jQuery, popper.js, bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>