<div id="qrScanner">
    <button id="openScannerBtn"><i class="fa fa-camera"></i></button>
    <!-- Create a container for the video and canvas elements -->
    <div id="video-container">
        <video id="qr-video"></video>
    </div>
    <!-- Toon het resultaat van de scan -->
    <br>
    <b>result: </b>
    <h2 id="scanResult"></h2>
    <br>
    <!-- Create a div to show the timestamp of the last successful QR code read -->
    <b>Last detected at: </b>
    <span id="cam-qr-result-timestamp"></span>
    <br>
    <!-- Create a button to close the scanner -->
    <button id="closeScannerBtn">Close scanner</button>
    <!-- Import qr reader -->
    <script type="module" src="../../public/js/qrScanner.js"></script>
</div>