<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Qrace Game</title>
  <style>
    body {
      background-color: #70ad47;
    }
    #content {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      padding: 2rem;
      color: #fff;
    }
    #picture {
      width: 50%;
    }
    #tutorial {
      width: 40%;
    }
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  </style>
</head>
<body>
<div id="content">
  <div id="picture">
    <img src="/images/game-picture.png" alt="Game picture">
  </div>
  <div id="tutorial">
    <h1>Tutorial</h1>
    <p>Welcome to Qrace, the quiz-based race game! In this game, you'll be racing against up to three other players to be the first to reach the finish line. To move forward, you'll need to answer quiz questions correctly. If you get two questions wrong in a row, you'll be sent back. The player who reaches the finish line first with the shortest time wins. Good luck!</p>
  </div>
</div>
</body>
</html>
