@media screen and (min-width: 992px) {
    .carousel {
        padding-left: 50px;
        padding-right: 50px;
    }
    .carousel .carousel-item {
        height: 550px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 550px;
    }
}

footer {
    font-size: small;
}

#mascotGif{
    border-radius: 50%;
}

#nameInput {
    height: 25px;
    font-size: 16px;
}

#send {
    height: 25px;
    width: inherit;
    font-size: 16px;
}


