@media screen and (min-width: 992px) {
    .carousel {
        padding-left: 50px;
        padding-right: 50px;
    }

    .carousel .carousel-item {
        height: 550px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 550px;
    }
}

footer {
    font-size: small;
}

#mascotGif {
    border-radius: 50%;
}

#nameInput {
    height: 25px;
    font-size: 16px;
}

#send {
    height: 25px;
    width: inherit;
    font-size: 16px;
}

.answer-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


/*.race-line {*/
/*  height: 5px;*/
/*  background-color: #000;*/
/*  margin-top: 10px;*/
/*  margin-bottom: 100px;*/
/*  resize: vertical;*/
/*  overflow: auto;*/
/*}*/

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    width: 90%; /* Adjust the width as needed */
    max-width: 380px; /* Set a maximum width */
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup .form {
    padding: 20px; /* Add padding for better spacing */
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px;
}

.popup .form .form-element label {
    margin: 15px;
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin: 5px;
    display: block;
    width: 100%; /* Make the input fields occupy the full width */
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup .form .form-element button {
    width: 100%; /* Make the button occupy the full width */
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

/*loginCSS*/

.bodyLogin {
    background-color: #ece3d7;
}

.main {
    background-color: #202020;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);

}

.sign {
    padding-top: 40px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}


form.form1 {
    padding-top: 40px;

}

.pass, .un {
    width: 76%;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.5);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 1em;
    color: #fff;
    background: #6f6f6f;
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 115px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-top: 25px;
    width: 169px;
}

.forgot {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: #0000;
    padding-top: 15px;
}


@media (max-width: 600px) {
    .main {
        border-radius: 0;
    }
}

.logout-form {
    margin-top: 250px;
}

.logout-form > h4 {
    text-align: center;
}


.buttonLogout {
    display: block;
    margin: auto;
}