.navbar-default {
  position: relative;
}

.navbar-right {
  position: absolute;
  right: 0;
}

.navbar-toggle {
  margin-top: 10px; /* Adjust this value to align the hamburger vertically */
}
.navbar-header {
  position: absolute;
  left: 10px; /* Adjust this value to set the desired space between the left edge and the logo */
}
.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand,
.navbar-title {
  display: block;
}

/* Hide title and logo on smaller screens */
@media (max-width: 250px) {
  .navbar-title {
    display: none;
  }
}

/* Hide logo on even smaller screens */
@media (max-width: 150px) {
  .navbar-brand {
    display: none;
  }
}
