.navbar-right {
  right: 10px; 
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  position: relative; /* Add this line */
}

.navbar-nav {
  float: none; /* Add this line */
  margin: 0; /* Add this line */
}

.navbar-nav > li {
  float: left; /* Add this line */
}

.navbar-right {
  float: right; /* Add this line */
}
.navbar-toggle {
  margin-top: 10px; /* Adjust this value to align the hamburger vertically */
  position: relative;
  z-index: 1;
}

.navbar-header {
  position: absolute;
  left: 10px;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand,
.navbar-title {
  display: block;
}
.navbar-right .fa {
  margin-right: 10px; /* Adjust this value to set the desired space between the icons and the right edge */
}

/* Hide title and logo on smaller screens */
@media (max-width: 250px) {
  .navbar-title {
    display: none;
  }
}

/* Hide logo on even smaller screens */
@media (max-width: 150px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width: 200px) {
  .navbar-nav > li {
    display: block;
    float: none;
  }
}