<!-- head -->

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!-- header -->
<header th:fragment="header">

    <nav class="navbar navbar-default">
        <div class="container-fluid" style="justify-content: space-between;">
            <div class="navbar-header">
                <a class="navbar-brand" href="home"><img src="/img/logo.png" height="100%"></a>
            </div>
            <ul class="nav navbar-nav">
                <button class="btn btn-default" onclick="location.href='profile'">
                    <i class="fa fa-user-circle"></i>
                </button>
                <button class="btn btn-default" id="tooltip">
                    <i class="fa fa-question-circle"></i>
                </button>
                <button class="btn btn-default" id="changeLanguage">
                    <i class="fa fa-globe"></i>
                </button>
            </ul>
        </div>
    </nav>
</header>

<!-- footer -->
<footer th:fragment="footer" class="footer mt-5" style="position: absolute; bottom: 0;">
    <p>© Aberzak, Ahalli, Diop, Ekkart & Rousseaux 2023</p>
</footer>