/* 2de deel */

<!-- head -->
<head th:fragment="head" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!-- header -->
<header th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">
                    <img src="/img/logo.png" height="100%" alt="Logo">
                </a>
            </div>
            <div class="navbar-title">
                <span class="navbar-brand site-title">QRace</span>
            </div>
            <div class="navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="login">
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="tooltip">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="changeLanguage">
                            <i class="fa fa-globe"></i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" th:href="@{/user/scorebord}">Scoreboard</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/registration}"> <i class="fa fa-user-circle"></i></a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin/questions}"><i class="fa fa-question-circle"></i></a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin/score}">Score</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- footer -->
<footer th:fragment="footer" class="footer mt-5" style="position: absolute; bottom: 0; background-color: whitesmoke;">
    <p>© Aberzak, Ahalli, Diop, Ekkart & Rousseaux 2023</p>
</footer>


/* 3de deel */
