<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <!-- Help-knop met popup -->
    <div th:fragment="help" class="help-container">
        <!-- Help-knop met icoon -->
        <button class="help-btn"><i class="fas fa-info"></i></button>
        
        <!-- Help-popup -->
        <div class="help-popup">
            <!-- Help-tekst -->
            <p th:text="${helpText}"></p>
        </div>
    </div>

    <!-- Taal-knop -->
    <div th:fragment="language" class="language-container">
        <!-- Taal-knop met icoon en data-attribuut -->
        <button class="language-btn btn btn-light" data-lang="en">
            <i class="fas fa-globe"></i>
        </button>
    </div>

</body>

</html>