<!DOCTYPE html>
      <html lang="en">
      <head>

      <meta charset="UTF-8">
      <link rel="stylesheet" href="../../public/css/login_register.css">
      <title>Title</title>
</head>
<body>
<div class="center">
  <button id="show-login">Register</button>
</div>
<div class="popup">
  <div class="close-btn">&times; </div>
  <div class="form">
    <h2>Register</h2>
      <div class="form-element">
          <label for="username">Username</label>
          <input type="username" id="username" placeholder="Enter username">
      </div>
      <div class="form-element">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter email">
    </div>
    <div class="form-element">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter password">
    </div>
    <div class="form-element">
      <label for="restPassword">Rest Password</label>
      <input type="password" id="restPassword" placeholder="Reset password">
    </div>
    <div class="form-element">
      <button>Register</button>
    </div>
  </div>
</div>

<script src="../../public/js/login_register.js"></script>
</body>
</html>