<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
  <script type="text/javascript" src="https://unpkg.com/qr-scanner"></script>
  <title>Mijn Spring-applicatie</title>
</head>
<body>
  <h1>Test for game</h1>
  <div class="flex-container-game-right">
    <div id="timer">⏱ 00:00</div>
    <script src="../public/js/timer.js"></script>
    <div class="allScans">Scan 1 --:--</div>
    <div class="allScans">Scan 2 --:--</div>
    <div class="allScans">Scan 3 --:--</div>
    <button id="openScannerBtn"><i class="fa fa-camera"></i></button>
  </div>
  <h2 id="scanResult"></h2>

  <div id="scannerContainer" style="display: none;">
    <button id="closeScannerBtn">Sluit scanner</button>
    <br>
    <div id="video-container">
      <video id="qr-video"></video>
    </div>
    
  </div>
  <script type="module" src="../public/js/qrScanner.js"></script>
</body>
</html>
