<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Mijn Spring-applicatie</title>
</head>
<body>
<h1>Test for game</h1>
<img id="track" src="../public/img/raceTrack.png" alt="Race Track">

<div class="flex-container-game-right">
  <div id="timer">⏱ 00:00</div>
  <script src="../public/js/timer.js"></script>

  <div class="allScans">Scan 1 --:--</div>
  <div class="allScans">Scan 2 --:--</div>
  <div class="allScans">Scan 3 --:--</div>

  <button id="scanButton">SCAN</button>
</div>
</body>
</html>
