<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments\head-header-footer :: head"></head>
<head>
    <!-- js library -->
    <script src="/js/translator.js"></script>
    <script src="/js/translations.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Title -->
    <title>Highscore</title>
</head>

<body>
<header th:replace="fragments\head-header-footer :: header"></header>
<!-- content -->

<div class="container">
    <h1 class="my-4">Highscore</h1>

    <form th:action="@{/highscore}" th:object="${highscore}" method="post" class="mb-4">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" th:field="*{userName}" name="userName" required class="form-control">
        </div>

        <div class="form-group">
            <label for="score">Score:</label>
            <input type="number" id="score" th:field="*{score}" name="score" required class="form-control">
        </div>

        <div class="form-group">
            <label for="highscoreDate">Highscore Date:</label>
            <input type="date" id="highscoreDate" th:field="*{highscoreDate}" name="highscoreDate" required
                   class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="form-group">
        <select class="form-control" id="sort-select">
            <option value="Id">Default (Id)</option>
            <option value="Username">Username (a-z)</option>
            <option value="Highscore">Highscore (Descending)</option>
            <option value="Date">Date</option>
        </select>
    </div>

    <div class="table-responsive">
        <table class="table" id="highscore-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Score</th>
                <th>Highscore Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score : ${highscores}">
                <td>
                    <span class="form-control-id" data-field="id" th:text="${score.id}"></span>
                </td>
                <td>
                    <span class="editable" data-field="userName" th:text="${score.userName}"></span>
                    <input type="text" class="form-control form-control-user-name" style="display: none;">
                </td>
                <td>
                    <span class="editable" data-field="score" data-id="${score.id}" th:text="${score.score}"></span>
                    <input type="number" class="form-control form-control-score" style="display: none;">
                </td>
                <td>
                <span class="editable" data-field="highscoreDate" data-id="${score.id}"
                      th:text="${#dates.format(score.highscoreDate, 'yyyy-MM-dd')}"></span>
                    <input type="date" class="form-control form-control-highscore" style="display: none;">
                </td>

                <td>
                    <button class="btn btn-primary edit-button">Edit</button>
                    <button class="btn btn-success save-button" style="display: none;">Save</button>
                    <button class="btn btn-danger cancel-button" style="display: none;">Cancel</button>
                    <button class="btn btn-danger delete-button" th:data-id="${score.id}"
                            onclick="deleteHighscore(this)">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {

        $(".edit-button").click(function () {
            var row = $(this).closest("tr");
            row.find(".editable").hide();
            row.find("input").show();
            row.find(".edit-button").hide();
            row.find(".save-button, .cancel-button").show();

            // Find the corresponding elements within the row
            var userNameSpan = row.find('.editable[data-field="userName"]');
            var userNameInput = row.find('.form-control-user-name');
            var scoreSpan = row.find('.editable[data-field="score"]');
            var scoreInput = row.find('.form-control-score');
            var dateSpan = row.find('.editable[data-field="highscoreDate"]');
            var dateInput = row.find('.form-control-highscore');
            // Get the text from the span element
            var userName = userNameSpan.text();
            var scoreText = scoreSpan.text();
            var dateText = dateSpan.text();

            // Set the text to the input element
            userNameInput.val(userName);
            scoreInput.val(scoreText);
            dateInput.val(dateText);
        });

        $(".cancel-button").click(function () {
            var row = $(this).closest("tr");
            row.find("input").hide();
            row.find(".editable").show();
            row.find(".edit-button").show();
            row.find(".save-button, .cancel-button").hide();
        });

        $(".save-button").click(function () {
            var row = $(this).closest("tr");

            var id = row.find(".form-control-id[data-field='id']").text();

            var userNameInput = row.find('.form-control-user-name'); // Find the input field for userName
            var userName = userNameInput.val(); // Get the value of the input field

            var scoreInput = row.find('.form-control-score'); // Find the input field for score
            var score = scoreInput.val(); // Get the value of the input field

            var dateInput = row.find('.form-control-highscore'); // Find the input field for highscoreDate
            var highscoreDate = dateInput.val(); // Get the value of the input field

            var updatedData = {
                id: id, // will stay the same
                userName: userName,
                score: score,
                highscoreDate: highscoreDate
            };

            $.ajax({
                url: "/updateHighscore",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(updatedData),
                success: function () {
                    // Update the row with the new values
                    row.find(".editable[data-field='userName']").text(userName);
                    row.find(".editable[data-field='score']").text(score);
                    row.find(".editable[data-field='highscoreDate']").text(highscoreDate);

                    // Show the editable fields and hide the input fields and buttons
                    row.find("input").hide();
                    row.find(".editable").show();
                    row.find(".edit-button").show();
                    row.find(".save-button, .cancel-button").hide();
                },
                error: function () {
                    alert("Failed to update the highscore.");
                }
            });
        });

        $("#sort-select").change(function () {
            var sortValue = $(this).val();
            console.log(sortValue)

            if (sortValue === "Username") {
                sortTableByUserName();
            } else if (sortValue === "Highscore") {
                sortTableByHighscore();
            } else if (sortValue === "Date") {
                sortTableByDate();
            } else {
                resetTable();
            }
        });

        function sortTableByUserName() {
            var sortedRows = $("#highscore-table tbody tr").toArray().sort(function (a, b) {
                var userNameA = $(a).find('.editable[data-field="userName"]').text();
                var userNameB = $(b).find('.editable[data-field="userName"]').text();
                return userNameA.localeCompare(userNameB);
            });

            $("#highscore-table tbody").empty().append(sortedRows);
        }

        function sortTableByHighscore() {
            var sortedRows = $("#highscore-table tbody tr").toArray().sort(function (a, b) {
                var scoreA = parseInt($(a).find('.editable[data-field="score"]').text());
                var scoreB = parseInt($(b).find('.editable[data-field="score"]').text());
                return scoreB - scoreA;
            });

            $("#highscore-table tbody").empty().append(sortedRows);
        }

        function sortTableByDate() {
            var sortedRows = $("#highscore-table tbody tr").toArray().sort(function (a, b) {
                var dateA = new Date($(a).find('.editable[data-field="highscoreDate"]').text());
                var dateB = new Date($(b).find('.editable[data-field="highscoreDate"]').text());
                return dateB - dateA;
            });

            $("#highscore-table tbody").empty().append(sortedRows);
        }

        function resetTable() {
            var originalRows = Array.from($("#highscore-table tbody tr")).sort(function (a, b) {
                var idA = parseInt($(a).find('.form-control-id[data-field="id"]').text());
                var idB = parseInt($(b).find('.form-control-id[data-field="id"]').text());
                return idA - idB;
            });

            $("#highscore-table tbody").empty().append(originalRows);
        }

    });

    function deleteHighscore(button) {
        var id = $(button).data("id");
        var row = $(button).closest("tr");

        $.ajax({
            url: "/highscores/" + id,
            type: "DELETE",
            success: function () {
                // Remove the row from the table
                row.remove();
                alert("Highscore deleted successfully.");
            },
            error: function () {
                alert("Failed to delete the highscore.");
            }
        });
    }
</script>


<div th:replace="fragments\head-header-footer :: footer"></div>

<!-- JS library -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>