<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments\head :: head}"></head>
<header th:replace="~{fragments\header :: header}"></header>

<body>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center text-center">
      <div class="title col-xl-4 vstack gap-3">
        <h1 id="raceIdDisplay"># <span id="raceId"></span></h1>
        <script src="/js/gameID.js"></script>
        <h2>Wacht op jouw vrienden en start de race eens ze er zijn!</h2>
      </div>

      <div class="col-xl-4 text-center vstack gap-3">
        <button type="button" class="btn btn-secondary btn-success" data-toggle="tooltip" data-placement="bottom"
          title="Dit ben jij!">
          <span th:text="${session.userName}"></span>
        </button>
        <button type="button" class="btn btn-secondary btn-success" data-toggle="tooltip" data-placement="bottom"
          title="#Naam is klaar voor de race!">
          Member #2
        </button>
        <button type="button" class="btn btn-secondary btn-success" data-toggle="tooltip" data-placement="bottom"
          title="#Naam is klaar voor de race!">
          Member #3
        </button>
        <button type="button" class="btn btn-secondary btn-success" data-toggle="tooltip" data-placement="bottom"
          title="Er kan nog iemand online komen!">
          Member #4
        </button>

        <a class="btn btn-block btn-dark" type="button" href="race" role="button">Start de race!</a>

      </div>
    </div>
  </div>
</body>

</html>