<!DOCTYPE html>
<html>
<head>
    <title>QRACE</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="QRACE logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Wat is QRACE?</a></li>
                <li><a href="#">Inloggen</a></li>
                <li><a href="#">Taal</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>QRACE</h1>
            <p>Een slogan die bij QRACE past</p>
        </div>
        <div class="image">
            <img src="ipad.png" alt="QRACE app op een iPad">
        </div>
        <div class="scroll-button">
            <a href="#next-page">Scroll naar beneden</a>
        </div>
    </main>
    <div id="next-page"></div>
</body>
</html>
