<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{0-fragments\head :: head}"></head>
<header th:replace="~{0-fragments\header :: header}"></header>

<body>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center text-center">
            <div class="title col-xl-4 vstack gap-3">
                <h1>Open races</h1>
                <h2>Kies de race waar je deel van wilt uitmaken!</h2>
            </div>

            <div class="btn-group-vertical col-xl-4 vstack gap-3">
                <div class="btn-group" role="group" aria-label="row1">

                    <button type="button" class="btn btn-secondary btn-success">RaceID</button>
                    <button type="button" class="btn btn-secondary btn-success">Racetrack</button>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-success"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            # Members
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item">Member #1</a>
                            <a class="dropdown-item">Member #2</a>
                        </div>
                    </div>
                </div>

                <div class="btn-group" role="group" aria-label="row2">

                    <button type="button" class="btn btn-secondary btn-success">RaceID</button>
                    <button type="button" class="btn btn-secondary btn-success">Racetrack</button>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-success"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            # Members
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item">Member #1</a>
                            <a class="dropdown-item">Member #2</a>
                            <a class="dropdown-item">Member #3</a>

                        </div>
                    </div>
                </div>

                <div class="btn-group" role="group" aria-label="row3">

                    <button type="button" class="btn btn-secondary btn-success">RaceID</button>
                    <button type="button" class="btn btn-secondary btn-success">Racetrack</button>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-success"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            # Members
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item">Member #1</a>
                        </div>
                    </div>
                </div>

                <div class="btn-group" role="group" aria-label="row4">

                    <button type="button" class="btn btn-secondary btn-success">RaceID</button>
                    <button type="button" class="btn btn-secondary btn-success">Racetrack</button>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-success"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            # Members
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item">Member #1</a>
                            <a class="dropdown-item">Member #2</a>
                            <a class="dropdown-item">Member #3</a>

                        </div>
                    </div>
                </div>

                <div class="btn-group" role="group" aria-label="row5">

                    <button type="button" class="btn btn-secondary btn-success">RaceID</button>
                    <button type="button" class="btn btn-secondary btn-success">Racetrack</button>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-success"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            # Members
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item">Member #1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label for="raceIdInput">Enter RaceID: </label>
    <input id="raceIdInput" type="text" />
    <a class="btn btn-block btn-dark" id="joinGameButton" type="button" href="join/{raceID}" role="button">Join Game</a>


</body>

</html>