<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments\head :: head"></head>
<header th:replace="fragments\header :: header"></header>

<body>
    <container>
        <section class="avatar">
            <img src="../public/img/drex.png" alt="drex">
        </section>
        <section>
            <form action="/name" method="post">
                <input type="text" id="name" name="name" required>
                <label for="name">
                    <div id="name"></div>
                </label>
                <div id="next"></div>
            </form>
            </div>
        </section>
</body>
</html>