<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments\head-header-footer-script :: head}"></head>

<head>
  <!-- js library -->
  <script src="https://unpkg.com/qr-scanner"></script>
  <!-- Title -->
  <title>Race</title>
</head>

<body>
  <header th:replace="~{fragments\head-header-footer-script :: header}"></header>

  <!-- Content -->
  <div class="container-fluid">
    <div class="row d-block" style="text-align: center">
      <!-- <h1>Game</h1> -->
      <div class="flex-container-game-right">
        <h1 id="timer">⏱ 00:00</h1>
        <script src="/js/timer.js"></script>
        <!-- <div class="allScans">Scan 1 --:--</div>
          <div class="allScans">Scan 2 --:--</div>
          <div class="allScans">Scan 3 --:--</div> -->
      </div>

      <!-- Questions -->
      <div id="questionContainer" class="my-5">
        <h2 id="questionText"></h2>
        <div id="answerContainer" class="row justify-content-center mt-4"></div>
      </div>

      <!-- scanner -->
      <div>
        <button id="openScannerBtn" class="btn btn-primary">
          Scan QR Code
        </button>
        <div id="scannerContainer" style="display: none">
          <button id="closeScannerBtn" class="btn btn-secondary">
            Close Scanner
          </button>
          <br />
          <div id="video-container">
            <video id="qr-video"></video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer th:replace="~{fragments\head-header-footer-script :: footer}"></footer>

  <!-- scripts -->
  <script src="/js/qrScanner.js" type="module"></script>
  <script src="/js/questions.js" type="module"></script>

  <div th:replace="~{fragments\head-header-footer-script :: script}"></div>>

</body>

</html>