<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments\head-header-footer :: head"></head>

<head>
  <style>
    .scoreDisplay,
    .timeDisplay {
      display: inline-block;
      margin-right: 20px;
    }

    .scoreDisplay h3,
    .timeDisplay h3 {
      display: inline-block;
      margin-bottom: 0;
    }

    #openScannerBtn {
      position: fixed;
    }

  </style>
  <!-- js library -->
  <script src="https://unpkg.com/qr-scanner"></script>
  <!-- Title -->
  <title>Race</title>
</head>

<body>
  <header th:replace="fragments\head-header-footer :: header"></header>

<!-- Content -->
  <div class="container-fluid">
    <div class="row d-block" style="text-align: center">
      <div style="display: flex; justify-content: space-evenly;">
        <div class="scoreDisplay">
          <i class="fa fa-star"></i>
          <h3 id="score">0</h3>
        </div>
        <div class="timeDisplay">
          <i class="fa fa-hourglass-half"></i>
          <h3 id="stopwatch">00:00</h3>
        </div>
      </div>

      <div id="questionContainer" class="my-5">
        <h2 id="questionText"></h2>
        <div id="answerContainer" class="row justify-content-center mt-4 card"></div>
      </div>

      <!-- scanner -->
      <div>
        <button id="openScannerBtn" class="btn btn-primary" style="position: fixed;">
          <i class="fa fa-camera"></i>
        </button>
        <div id="scannerContainer">
          <button id="closeScannerBtn" class="btn btn-secondary" style="display: none;">
            <i class="fa fa-times-circle"></i>
          </button>
          <br />
          <div id="video-container">
            <video id="qr-video" style="width: 90%;"></video>
          </div>
        </div>
      </div>

           <ul id="timeList" style="list-style-type: none;"></ul>

      <!-- scripts -->
      <!-- <script src="/js/timer.js"></script> -->
      <script src="/js/stopwatch.js"></script>
      <script src="/js/qrScanner.js" type="module"></script>
      <script src="/js/questions.js" type="module"></script>

      <!-- end content -->

      <!-- footer -->
      <div th:replace="fragments\head-header-footer :: footer"></div>
      <!-- general scrips -->
      <script src="/js/translator.js"></script>
      <script src="/js/translations.js"></script>

      <!-- send qr data for test -->
      <button id="stopButton">Stop race</button>
      <script>
        document.getElementById('stopButton').addEventListener('click', function () {
          // Create a custom event
          const exportDataEvent = new CustomEvent("exportData", { detail: 'stop' });

          // Dispatch the custom event
          document.dispatchEvent(exportDataEvent);
        });
      </script>

      <form id="myForm">
        <input type="text" id="myInput" />
        <button type="submit">Submit</button>
      </form>
      <script>
        document.getElementById('myForm').addEventListener('submit', function (e) {
          e.preventDefault();
          const input = document.getElementById('myInput').value;

          // Create a custom event
          const exportDataEvent = new CustomEvent("exportData", { detail: input });

          // Dispatch the custom event
          document.dispatchEvent(exportDataEvent);
        });
      </script>


</body>

</html>