      <!DOCTYPE html>
      <html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="fragments\head-header-footer :: head"></head>

        <head>
          <!-- Title -->
          <title>Scoreboard</title>
        </head>

        <body>
          <header th:replace="fragments\head-header-footer :: header"></header>
          <!-- content -->

          <div class="container">
            <h1 class="my-4">Your Score</h1>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Score</th>
                    <th>Highscore Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span id="localId"></span></td>
                    <td><span id="localUser"></span></td>
                    <td><span id="localScore"></span></td>
                    <td><span id="localDate"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h1 class="my-4">Race details</h1>
            <div class="table-responsive">
              <table class="table" id="race-details-table">
                <thead>
                  <tr>
                    <th>Correct?</th>
                    <th>Question</th>
                    <th>Correct Answer</th>
                    <th>User Answer</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

            <h1 class="my-4">All Scores</h1>
            <div class="form-group">
              <select class="form-control" id="sort-select">
                <option value="Id">Default (Id)</option>
                <option value="Username">Username (a-z)</option>
                <option value="Highscore">Highscore (Descending)</option>
                <option value="Date">Date</option>
              </select>
            </div>

            <div class="table-responsive">
              <table class="table" id="highscore-table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Score</th>
                    <th>Highscore Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="score : ${highscores}">
                    <td>
                      <span
                        class="form-control-id"
                        data-field="id"
                        th:text="${score.id}"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="editable"
                        data-field="userName"
                        th:text="${score.userName}"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="editable"
                        data-field="score"
                        data-id="${score.id}"
                        th:text="${score.score}"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="editable"
                        data-field="highscoreDate"
                        data-id="${score.id}"
                        th:text="${#dates.format(score.highscoreDate, 'yyyy-MM-dd')}"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <script th:inline="javascript">
              $(document).ready(function () {
                $("#sort-select").change(function () {
                  var sortValue = $(this).val();
                  console.log(sortValue);

                  if (sortValue === "Username") {
                    sortTableByUserName();
                  } else if (sortValue === "Highscore") {
                    sortTableByHighscore();
                  } else if (sortValue === "Date") {
                    sortTableByDate();
                  } else {
                    resetTable();
                  }
                });

                function sortTableByUserName() {
                  var sortedRows = $("#highscore-table tbody tr")
                    .toArray()
                    .sort(function (a, b) {
                      var userNameA = $(a)
                        .find('.editable[data-field="userName"]')
                        .text();
                      var userNameB = $(b)
                        .find('.editable[data-field="userName"]')
                        .text();
                      return userNameA.localeCompare(userNameB);
                    });

                  $("#highscore-table tbody").empty().append(sortedRows);
                }

                function sortTableByHighscore() {
                  var sortedRows = $("#highscore-table tbody tr")
                    .toArray()
                    .sort(function (a, b) {
                      var scoreA = parseInt(
                        $(a).find('.editable[data-field="score"]').text()
                      );
                      var scoreB = parseInt(
                        $(b).find('.editable[data-field="score"]').text()
                      );
                      return scoreB - scoreA;
                    });

                  $("#highscore-table tbody").empty().append(sortedRows);
                }

                function sortTableByDate() {
                  var sortedRows = $("#highscore-table tbody tr")
                    .toArray()
                    .sort(function (a, b) {
                      var dateA = new Date(
                        $(a)
                          .find('.editable[data-field="highscoreDate"]')
                          .text()
                      );
                      var dateB = new Date(
                        $(b)
                          .find('.editable[data-field="highscoreDate"]')
                          .text()
                      );
                      return dateB - dateA;
                    });

                  $("#highscore-table tbody").empty().append(sortedRows);
                }

                function resetTable() {
                  var originalRows = Array.from(
                    $("#highscore-table tbody tr")
                  ).sort(function (a, b) {
                    var idA = parseInt(
                      $(a).find('.form-control-id[data-field="id"]').text()
                    );
                    var idB = parseInt(
                      $(b).find('.form-control-id[data-field="id"]').text()
                    );
                    return idA - idB;
                  });

                  $("#highscore-table tbody").empty().append(originalRows);
                }
              });
              var username = localStorage.getItem("userName");
              $("#localUser").text(username);

              var rows = $("#highscore-table tbody tr");
              var foundRow = null;

              rows.each(function () {
                var row = $(this);
                var userName = row
                  .find('.editable[data-field="userName"]')
                  .text();

                if (userName === username) {
                  foundRow = row;
                  return false; // Exit the loop early if the row is found
                }
              });

              if (foundRow) {
                var id = foundRow.find(".form-control-id").text();
                var score = foundRow
                  .find('.editable[data-field="score"]')
                  .text();
                var highscoreDate = foundRow
                  .find('.editable[data-field="highscoreDate"]')
                  .text();

                $("#localId").text(id);
                $("#localScore").text(score);
                $("#localDate").text(highscoreDate);
              } else {
                console.log("Row not found for username:", username);
              }

 
        

           //   race details
            function fetchQuestion(id) {
            return fetch("/api/questions")
              .then((response) =>
                response.ok
                  ? response.json()
                  : Promise.reject("Failed to fetch questions")
              )
              .then((questions) => {
                const question = questions.find((q) => q.id === id);

                if (question) {
                  return question;
                } else {
                  throw new Error(`Question with ID ${id} not found.`);
                }
                });
          }
            let localScoreData = localStorage.getItem("track progress");
            let data = JSON.parse(localScoreData);

          // Access the race details
          let groups = data.groups;
        // console.log('groups',groups);
          
        
for (let group in groups) {
    // console.log('group',group);
    if (groups.hasOwnProperty(group)) {
        let answeredQuestions = groups[group].answeredQuestions;
        // console.log(answeredQuestions);
        for (let questionId in answeredQuestions) {
            // console.log('questionId',questionId);
            if (answeredQuestions.hasOwnProperty(questionId)) {
                let answeredQuestion = answeredQuestions[questionId];
                // console.log(answeredQuestion);

                let correct = answeredQuestion.correct;
                let userAnswer = answeredQuestion.userAnswer;
                let recordTime = answeredQuestion.recordTime;
                
                  // Retrieve the question details using fetchQuestion
                  fetchQuestion(parseInt(questionId))
                    .then((question) => {
                      // console.log(question);  // Log the fetched question
                      let newRow = $("<tr>");
                      newRow.append($("<td>").text(correct ? "Yes" : "No"));
                      newRow.append($("<td><>").text(question.questionText));
                      newRow.append($("<td>").text(question.correctAnswer));
                      newRow.append($("<td>").text(userAnswer));
                      newRow.append($("<td>").text(recordTime));
// console.log('correct',correct, 'questionText',question.questionText, 'correctAnswer',question.correctAnswer, 'userAnswer',userAnswer, 'recordTime',recordTime);

                      $("#race-details-table tbody").append(newRow);
                    })
                    .catch((error) => {
                      console.error(error);
                      console.log(
                        "Error fetching question with ID:",
                        questionId
                      ); // Log error message
                    });
                }
              }
            }
          }

          






            </script>
            <div th:replace="fragments\head-header-footer :: footer"></div>
            <!-- general scripts -->
            <script src="/js/translator.js"></script>
            <script src="/js/translations.js"></script>
            <script
              src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous"
            ></script>
            <script
              src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous"
            ></script>
            <script
              src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
              crossorigin="anonymous"
            ></script>
          </div>
        </body>
      </html>
    </div>
  </body>
</html>
