<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments\head :: head"></head>
<header th:replace="fragments\header :: header"></header>

<body>
    <container class="homePage1">
        <section class="left">
            <div id="title"></div>
            <div id="slogan"></div>
        </section>
        <section class="right">
            <img class="homeImg" src="../public/img/SPMkind.png" alt="kinderen op zoek">
        </section>
    </container>
    <container class="homePage2">
        <section class="left">
            <img class="homeImg" src="../public/img/drex.png" alt="Drex">

        </section>
        <section class="right">
            <div id="intertitle"></div>
            <div id="article"></div>
            <a href="name" class="nextbtn">
                <div id="play"></div>
            </a>
        </section>
    </container>
</body>

</html>