
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>qRace</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css"/>


</head>
<body>
<img src="../public/img/speelgoedLogo.png" alt="Logo Speelgoed Museum">
<div class="navbar">
    <a class="active" href="#">HOME</a>
    <a href="#">WAT IS QRACE</a>
    <a href="#">INLOGGEN</a>
    <div class="dropdown">
        <button class="dropbtn" id="btn">TAAL</button>
        <ul id="list" class="dropdown-content">
            <li><a href="#">NEDERLANDS</a></li>
            <li><a href="#">FRANÇAIS</a></li>
            <li><a href="#">ENGLISH</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="left">
        <h1>qRace</h1>
        <div class="button">
            <a href="#" class="startbtn">Voltooi de zoektocht &<br>race tegen de mascottes!</a>
        </div>
    </div>

    <img class="right" src="../public/img/homePic.png" alt="kinderen op zoek">
</div>

<!--<div id="popup" class="popup">-->
<!--    <div class="popup-content">-->
<!--        <h2>Wat is QRace?</h2>-->
<!--        <p>-->
<!--            QRace is a fun game where you search for hidden mascots and race against them!-->
<!--        </p>-->
<!--        <button class="popup-close-btn">OK</button>-->
<!--    </div>-->
<!--</div>-->

<script>
    /*-------------------------------------------TAALKNOP-----------------------------------------------*/

    const button = document.getElementById("btn");
    const list = document.getElementById("list");
    list.style.display = "none"

    button.addEventListener("click", (event) => {
        if (list.style.display === "none") {
            list.style.display = "block";
        } else {
            list.style.display = "none";
        }
    });

    // Hide dropdown content when user clicks outside of it
    document.addEventListener("click", (event) => {
        const isClickInside = list.contains(event.target) || button.contains(event.target);
        if (!isClickInside) {
            list.style.display = "none";
        }
    });

    /*-------------------------------------------POPUP-----------------------------------------------*/
    // const popupContainer = document.getElementById("popup");
    // const closePopupButton = document.getElementById("popup");
    //
    // // Show popup when user clicks on "Wat is QRace" link
    // document.querySelector("a[href= '#popup']").addEventListener("click", () => {
    //     popupContainer.style.display = "block";
    // });
    //
    // // Hide popup when user clicks on "OK" button
    // closePopupButton.addEventListener("click", () => {
    //     popupContainer.style.display = "none";
    // });

</script>

</body>
</html>
