<!DOCTYPE html>
<html lang="nl-BE" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments\head :: head}"></head>
<header th:replace="~{fragments\header :: header}"></header>

<body>
  <h1>Test for game</h1>
  <!-- Maak een container voor de rechterkant van het spel -->
  <div class="flex-container-game-right">
    <!-- Toon de timer -->
    <div id="timer">⏱ 00:00</div>
    <!-- Voeg een script toe voor de timer -->
    <script src="/js/timer.js"></script>
    <!-- Toon de resultaten van de scans -->
    <div class="allScans">Scan 1 --:--</div>
    <div class="allScans">Scan 2 --:--</div>
    <div class="allScans">Scan 3 --:--</div>
    <!-- Maak een knop om de scanner te openen -->
    <button id="openScannerBtn"><i class="fa fa-camera"></i></button>
  </div>
  <!-- Toon het resultaat van de scan -->
  <h2 id="scanResult"></h2>

  <!-- Maak een container voor de QR-scanner -->
  <div id="scannerContainer" style="display: none;">
    <!-- Maak een knop om de scanner te sluiten -->
    <button id="closeScannerBtn">Sluit scanner</button>
    <br>
    <!-- Maak een container voor de video -->
    <div id="video-container">
      <video id="qr-video"></video>
    </div>

  </div>
  <!-- Voeg een script toe voor de QR-scanner functionaliteit -->
  <script type="module" src="../../public/js/qrScanner.js"></script>
</body>

</html>